.navbar {
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.wrapper {
  flex: 1;
  display: flex;
}

.aside {
  flex: 0 0 60px;
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.main {
  flex: 1;
}

.link {
  width: 44px;
  height: 44px;
  border-radius: var(--mantine-radius-default);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-8) !important;
  background-color: var(--mantine-color-gray-0) !important;

  &:hover {
    background-color: var(--mantine-color-gray-1) !important;
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-1) !important;
    color: var(--mantine-color-blue-8) !important;
  }
}
